* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body {
    padding: 5%;
}

.topHeader {
    background-color:#1f2937;
    display: flex;
   min-height: 550px;
    padding: 20px 40px;
    flex-direction: column;
    font-family: "Roboto";
    border: 3px solid red;
}
.headLogo {
    font-size: 24px;
    color: #f9faf8;
}
.headLinks, .mainText {
    font-size: 18px;
    color: #e5e7eb;
}
.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid blueviolet;
    padding: 20px;
}
.hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    border: 3px solid yellow;
    gap: 60px;
}
.heroContent {
    border: 3px solid greenyellow;
    flex: 1;
    max-width: 550px;
}
.heroImage {
    border: 3px solid blue;
    flex: 1;
}
.mainTitle {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.heroButton {
    background-color: #3882f6;
    border-radius: 10%;
    padding: 12px 24px;
}


.information {
    border: 3px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 2%;
}
.infoHeader {
    padding: 40px;
}
.projectsContainer {
    border: green solid 3px;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    flex: 1;
    display: flex;
}
.cardImg {
    border: 3px solid rgb(0, 225, 255);
    height: 200px;
    width: 200px;
    border-radius: 10%;

}
.cards {
    border: 3px solid yellow;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
    gap: 40px;


}
.card {
    padding: 20px;
}


.quote {
    border: 3px solid red;
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.quoteTextContainer {
    border: 3px solid green;
    padding: 50px;
}
.quoteText {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.quoteAuthorContainer {
border: 3px solid orange;


}
.quoteAuthorText {
    font-weight: 900;


}

.callToAction {
    border: 3px solid purple;
    flex: 1;
    padding: 6%;
    display: flex;
    align-items: center;
}
.callToActionContainer {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    border: 3px solid palevioletred;
    padding: 4%;
}
.callToActionMain {
    border: 3px solid red;
    flex: 2;
}
.callToActionSecondary {
    border: 3px solid greenyellow;
    flex: 1;
}
.callToActionButton {
    border: 3px solid orange;
}


.footer {
    border: 3px solid skyblue;
    flex: 1;
    padding: 2%;
}
.footerTextContainer {
    border: 3px solid green;
}